
@model Student

<form method="post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Create Student</h2>
        <hr />
    </div>
    <div class="mb-3">
        <label asp-for="FirstName">First Name</label>
        <input asp-for="FirstName" class="form-control" />
        <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="LastName">Last Name</label>
        <input asp-for="LastName" class="form-control" />
        <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    @*<div class="mb-3">
		<label asp-for="Enrollments"></label>
		<input asp-for="Enrollments" class="form-control" />
		<span asp-validation-for="Enrollments" class="text-danger"></span>
	</div>*@
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
	<a asp-controller="Student" asp-action="Index" class="btn btn-secondary" style="width:150px">
		Back to List
	</a>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
