@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid"
    <div class="jumbotron">
        <h1>TheLearnWik</h1>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h2>Welcome to Learn Wik</h2>
            <p>
                Learn Wik is an online learning platform where you can enroll in different world class, leading courses of your choice.
            </p>
        </div>
    </div>
</div>