@{
    ViewData["Title"] = "Home Page";
}


<div class="container p-3">
    <div class="container-lg">
        <div class="col-12 text-center text-light">
            <h1>TheLearnWik</h1>
        </div>
    </div>
    <br />
    <br /> 


    <div class="row">
        <div class="col-md-12">
            <h2 class="text-center">Welcome to Learn Wik</h2>
            <br /> 
            <p class="text-center">
                Learn Wik is an online learning platform where you can enroll in different world class, leading courses of your choice.
            </p>
        </div>
    </div>
</div>