@model Course

<form method="post">
    <div class="border p-3 mt-4">
        <h2 class="text-primary">Create Course</h2>
        <hr />
    </div>
    <div class="mb-3">
        <label asp-for="Title">Title</label>
        <input asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Duration">Duration</label>
        <input asp-for="Duration" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary" style="width:150px">Create</button>
	<a asp-controller="Course" asp-action="Index" class="btn btn-secondary" style="width:150px">
		Back to List
	</a>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
}
